<div class="container-fluid">
  <div class=" row justify-content-center m-3 bg-secondary text-light pt-3">
      <h2>Cursos disponíveis</h2>
  </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white ">
            <a><img src="../assets/java-grande.png" alt="Java" class="img-fluid"></a>
            <h3 class="text-center m-2 titulocurso">
              Java - Últimas vagas
            </h3>
            <p class="p-3 text-justify cursosdesc">
                Curso completo de Java de 150 horas para quem deseja
                aprender esta linguagem e para quem deseja diversificar os seus conhecimentos.
                Há mais de 3 bilhões de aparelhos rodando Java hoje, um mercado com alta procura
                por profissionais qualificados!
            </p>
        </div>

        <div class="col-md-3 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white">
            <a><img src="../assets/js-grande.png" alt="JS" class="img-fluid"></a>

            <h3 class="text-center m-2">Java Script</h3>

            <p class="p-3 text-justify cursosdesc">
                Curso de 100 horas com os principais conceitos básicos para desenvolvimento em JavaScript, permitindo ao desenvolvedor entender a
                estrutura do JS e desenvolver pequenos programas que interagem com os
                elementos de uma página web.
            </p>
        </div>

        <div class="col-md-3 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white ">
                <a><img src="../assets/python-grande.png" alt="JS" class="img-fluid"></a>

                <h3 class="text-center m-2">Python</h3>

                <p class="p-3 text-justify cursosdesc">
                    Curso de 120 horas com os principais conceitos básicos para desenvolvimento
                    em JPython, que é uma das linguagens mais utilizadas no mundo e requisito para se
                    trabalhar com Ciência de Dados e Inteligência Artificial.
                </p>
        </div>
        <div class="col-md-3 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white ">
                <a><img src="../assets/php-grande.png" alt="JS" class="img-fluid"></a>

                <h3 class="text-center m-2">PHP</h3>

                <p class="p-3 text-justify cursosdesc">
                    Curso de 80 horas para você conseguir desenvolver
                    com uma das linguagens mais populares no mercado que evoluiu muito em
                    todos os requisitos nos últimos anos!
                </p>
        </div>
        <div class="col-md-3 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white">
                <a><img src="../assets/html-grande.png" alt="JS" class="img-fluid"></a>
                <h3 class="text-center m-2">HTML</h3>
                <p class="p-3 text-justify cursosdesc">
                    Curso de 200 horas sobre HTML, a linguagem de marcação
                    básica para a Web, qualquer webdesigner deve ter um bom embasamento e
                    conhecimento desta linguagem, matricule-se já e aumente seu conhecimento sobre HTML!
                </p>
        </div>
    </div>
</div>
