<div class="row justify-content-center m-3 fundoprof text-light pt-3">
  <h2>Nossos professores</h2>
</div>

<div class="container-fluid">
<div class="row justify-content-center">

  <div class="col-md-2 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white text-center">
    <h3 class="text-center m-2">Richard Rasmussen</h3>
    <img class="" src="../../assets/richard-rasmussen.png" class="img-fluid" alt="Primeiro laboratótio">
    <p class="descprof">
      Professor há mais de 65 anos de HTML e JavaScript, pós-graduado na Universidade Federal de Pororoca!
    </p>
  </div>

  <div class="col-md-2 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white text-center">
    <h3 class="text-center m-2">Felipe Massa</h3>
    <img class="" src="../../assets/felipe-massa.png" class="img-fluid" alt="Primeiro laboratótio">
    <p class="descprof">
      Formado no instituto Formula One, Felipe Massa tem mais de 15 anos na área de desenvolvimento de softwares ágeis para aplicações de missão crítica!
    </p>
  </div>

  <div class="col-md-2 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white text-center">
    <h3 class="text-center m-2">Mary Jane</h3>
    <img class="" src="../../assets/mary-jane.png" class="img-fluid" alt="Primeiro laboratótio">
    <p class="descprof">
      Professora especializada em Python e Java, vencedora 2 vezes seguidas do prêmio "Melhor didática global"
    </p>
  </div>

  <div class="col-md-2 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white text-center">
    <h3 class="text-center m-2">Florisbela Silva</h3>
    <img class="" src="../../assets/florisbela-silva.png" class="img-fluid" alt="Primeiro laboratótio">
    <p class="descprof">
      Professora renomada no desenvolvimento de software Mobile em todo o continente Asiático e partes do Sudão.
    </p>
  </div>

</div>
</div>
