<div class="row justify-content-center m-3 text-light pt-3 fundolabs">
  <h2>Nossos laboratórios</h2>
</div>

<div class="container-fluid">
<div class="row justify-content-center">

  <div class="col-md-3 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white text-center">
    <h3 class="text-center m-2">Lab 01</h3>
    <img class="" src="../assets/laboratorio1.png" class="img-fluid" alt="Primeiro laboratótio">
  </div>

  <div class="col-md-3 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white text-center">
    <h3 class="text-center m-2">Lab 02</h3>
    <img class="" src="../assets/laboratorio2.png" class="img-fluid" alt="Primeiro laboratótio">
  </div>

  <div class="col-md-3 col-sm-12 m-2 border rounded shadow p-3 mb-5 bg-white text-center">
    <h3 class="text-center m-2">Lab 03</h3>
    <img class="" src="../assets/laboratorio3.png" class="img-fluid" alt="Primeiro laboratótio">
  </div>


</div>
</div>
