<div class="fundo">
  <div>
      <div class="container-fluid border bg-info p-3">
            <div class="row justify-content-center">
              <h1 class="display-3 text-center">
                    Aprenda mais com a <strong>Code+</strong> Cursos!
              </h1>
            </div>

            <div class="row justify-content-center">
              <h3 class="text-center">
                Ensino a distância para te tornar um programador de sucesso!
              </h3>
            </div>

            <div class="row justify-content-center">
              <h3 class=" text-light text-center">
                Matricule-se até dia 08 de setembro e ganhe um desconto de <strong>10%!</strong>
              </h3>
            </div>
        </div>
  </div>

  <app-cursos></app-cursos>
  <app-laboratorios></app-laboratorios>
  <app-professores></app-professores>

  <footer>
        <div class="container-fluid border bg-info mt-4">
            <div class="row justify-content-center p-2">
                <p class="font-italic">Todos os direitos reservados! Em caso de dúvidas entre em contato conosco pelo e-mail <strong>contato@codemais.com.br</strong> ou pelo nosso número <strong>11 3030-4040.</strong></p>
            </div>
        </div>
  </footer>
</div>
